# Env
NODE_ENV = Complete with de nodejs environment

# Port
PORT = Complete with port

# Log 
LOG_LEVEL= Complete with level of logs needed

# Mapbox
MAPBOX_API_KEY = Complete with the mapbox api key 

# Open weather map
OPENWEATHERMAP_API_KEY = Complete with the openweathermap api key 